@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.notification {
font-family: 'Poppins', sans-serif;
}

.notification {
position: absolute;
bottom: 50px;
left: 50px;
width: max-content;
padding: 8px 20px; 
border-radius: 6px;
background: #141619; 
transition: 0.3s;
color: #f5f6f9;
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); transform: translateY(30px);
opacity: 0;
visibility: hidden;
animation: fade-in 4s linear forwards;
}

.notification_progress {
position: absolute;
left: 5px;
bottom: 5px;
width: calc(100% - 10px);
height: 3px;
transform: scalex(0); transform-origin: left;
background-image: linear-gradient(to right, #0859C6, #0C71E0, #10A5F5, #00DBFF, #00FFFF);
border-radius: inherit;
animation: load 3s 0.25s linear forwards;
}

@keyframes fade-in {
5% {
opacity: 1;
visibility: visible;
transform: tramslateY(0);
}
90% {
opacity: 1;
tramsform: translateY(0);
}
}
@keyframes load {
to {
transform: scaleX(1);
}
}
