/* style css */

<style>
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
body{
background-color:#020E21;
text-align:center;
width:auto;
height:auto;
color:cyan;
font-family: 'Supermercado One', cursive;
}
pre{
color:cyan;
font-family:Monospace;
text-align:center;
font-size:2.3vw;
}
pre:before{
display: inline-block;
}
p{
color:cyan;
font-family: 'Supermercado One', cursive;
font-size:2.6vw;
}
p:hover{
color:cyan;
font-family: 'Supermercado One', cursive;
font-size:2.7vw;
}
a{
color:cyan;
font-family: 'Supermercado One', cursive;
text-decoration: none;
}
a:hover{
text-decoration: none;
color:red;
font-family: 'Supermercado One', cursive;
}
.bawah{
background-color: transparent;
color: white;		
font-size: 2.8vw;
font-family: 'Supermercado One', cursive;
bottom: 0;
position: fixed;
justify-content: center;
align-items: center;
width: 100%;
display: flex;
letter-spacing: 2px;
left:0;
}
</style>
