@import url(https://fonts.googleapis.com/css?family=Ubuntu);
hr {
        border:0;
        height:1px;
        background-image: linear-gradient(to right, #000, lime, lime, #000);
}
 
html {
        background: #000000;
	color: #ffffff;
	font-size: 12px;
	width: 100%;
        font-family:courier;
        font-style:italic;
}

ul {
	margin:0;
	padding:0;
	}
	
li {
	display: inline;
	margin: 5px;
	padding: 5px;
}

.footer {
	text-align: center;
	border-radius: 30px;
	border-top: 2px solid lime;
	padding:10px;
	}
	
a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: gold;
	text-decoration: underline;
}

b {
	color: gold;
}

pre {
	font-size: 12px;
}

table, th, td {
	border-collapse:collapse;
	background: transparent;
	font-family: 'Ubuntu';
	font-size: 12px;
}

.table_home, .th_home, .td_home {
	border: 0.8px solid #ffffff;
}

.th_home {
	color: lime;
	text-shadow: 0px 0px 50px lime;
}

.td_home, .td_home > a {
	color: #ffffff;
}

.td_home > a:hover {
	color: gold;
}

th {
	padding: 10px;
}

tr:hover {
	background: #006400;
	color: #ffffff;
}

input[type=text], input[type=password], .input {
	background: transparent; 
	color: #ffffff;
	border: 0.8px solid #ffffff;
	padding: 3px;
	font-family: 'Ubuntu';
	font-size: 12px;
}

input[type=submit] {
	padding: 2px;}

input[type=submit]:hover {
	cursor: pointer;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #ffffff;
}

textarea {
	border: 1px solid #ffffff;
	width: 99.5%;
	height: 400px;
	padding-left: 5px;
	margin: 10px auto;
	resize: none;
	background: #000;
	color: #ffffff;
	font-size: 12px;
}
iframe {
	width: 100%;
	min-height: 500px;
}
