@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

    body {
    	scroll-behavior: smooth;
   	 margin:0;
   	width: 100%;
 	   padding:0;
		font-family: 'Quicksand', sans-serif;
    	background: #19191B;
  	  color: #fff;
    }
    a {
    	color: #b3d4fc;
 	   text-decoration: none;
    }
    a:hover {
		text-decoration: underline;
		color: #b3d4fc;
}
::selection {
	background: #b3d4fc;
	color: #000;
	}
      #log {
        min-height: 80px;
        color: #000;
  }
  .btnxd {
	padding: 4px 70px;
	font-family: 'Quicksand', sans-serif;
	color: #000;
	border-radius: 4px;
	border: 0px;
	background: #fff;
	cursor: pointer;
	text-decoration: none;
}
.btnxd:hover {
	background: #101010;
	border: 1px solid #FFFFFF;
	color: #fff;
}
